
<html ng-app = 'app'>
   
   <head>
      <title>AngularJS Directives</title>
       <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "events.js"></script>
       
       <style type = "text/css" media = "all">
         
           table{
               border-collapse: collapse;
           }
         td {
            border: 1px solid black;
             padding: 5px;
         }
           th{
               border: 1px solid black;
               padding: 5px;
           }
      </style>
     
   </head>
   
   <body ng-controller = 'mycon'>
      <h1>Sample Application</h1>
      
      <div>
          <select ng-model="choice">
              <option value="name">name</option>
              <option value="like">likes</option>
              <option value="dislike">dislike</option>
          </select>
          <table border="2" >
              <thead>
                  <tr>
                      <th>name</th>
                      <th>likes</th>
                      <th>dislikes</th>
                      <th>l/d</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat = "tec in tec |orderBy:choice:true ">
                      <td>{{tec.name|uppercase}}</td>
                      <td>{{tec.like|currency}}</td>
                      <td>{{tec.dislike|number}}</td>
                      <td>
                          <input type="button" value="like" ng-click="incrementLike(tec)" >
                          
                          <input type ="button" value="dislike" ng-click=incrementDislike(tec)>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
       
     
      
   </body>
</html>